<div class="form-entry">
    <h2>Add A Quote</h2>
    <hr>
    <!-- <form class="form-group" [formGroup]="quoteForm"> -->
    <form>
      <div class="form-group">
        <label for="quote">QUOTE:</label>
        <textarea name="entry" placeholder="Enter your quote here" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="author">AUTHOR :</label>
        <input type="text" placeholder="Author of quote" class="form-control">
      </div>
  
    </form>
  </div>